// #### 默认 ####
$Blue: #0091fd; //        通用蓝色
$Red: #f23d4c; //         通用红色
$Yellow: #fe9624; //      通用黄色
$Black: #1a1a1a; //       通用黑色
$Green: #14cc55; //       通用绿色
$Background: #fafafa; //  页面背景底色
$LineColor: #f2f2f2; //   细线颜色
$MaskColor: rgba(0, 0, 0, 0.4); // 遮罩色值
$Disable: #999999; // 未激活，不可用

// view层级
$Lv100: 100; //   遮罩类层级（遮罩层）
$Lv200: 200; //   交互类弹层 （对话框，警告之类弹框）
$Lv300: 300; //   提示类弹层 （toast提示类）

// ### 交易市场 ####
$Success: #67c23a;
$Warning: #e6a23c;
$Danger: #f23d4c;
$Info: #909399;
$Main: #56bb36;
$Font: #1a1a1a;
$Placeholder: #ccc;
$Line: #ccc;
