* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  line-height: 1;
  margin: 0;
  padding: 0;
  // font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

ul {
  display: block;
  margin: 0;
  padding: 0;
  border: none;
  list-style: none;
  box-sizing: border-box;
}

li {
  display: block;
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

img {
  display: block;
  margin: 0;
  padding: 0;
  border: none;
  pointer-events: none;
  user-select: none;
  -webkit-touch-callout: none;
}

div {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

i {
  display: block;
  margin: 0;
  padding: 0;
  font-style: normal;
}

a {
  display: block;
  margin: 0;
  padding: 0;
  border: none;
  color: #000;
  text-decoration: none;
  outline: none;
}

button {
  display: block;
  margin: 0;
  padding: 0;
  border: none;
  font: initial;
  background-color: transparent;
  line-height: 1;
  appearance: none;
  outline: none;
}

textarea {
  border: none;
  margin: 0;
  padding: 0;
  background-color: transparent;
  outline: none;
}

input[type='text'],
input[type='tel'],
input[type='search'],
input[type='number'] {
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  outline: none;
}
.clearfix::before,
.clearfix::after {
  content: '.';
  display: block;
  visibility: hidden;
  height: 0;
  clear: both;
}
.fl {
  float: left;
}
.fr {
  float: right;
}

.clearfix {
  *zoom: 1;
}

.dot {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.bt-line {
  border-top: 1px solid #f2f2f2;
}

.bb-line {
  border-bottom: 1px solid #f2f2f2;
}
.c999 {
  color: #999;
}

.f30 {
  font-size: rem(30);
}

.f24 {
  font-size: rem(24);
}
.pd-0-40 {
  padding: 0 rem(40);
}

.avatar70 {
  width: 1.4rem;
  height: 1.4rem;
  border-radius: 50%;
}
.logo200-200 {
  @include Box(rem(200));
  border-radius: rem(42);
}
.mt10 {
  margin-top: rem(10);
}
.default-btn {
  background: #2788ff;
  border-radius: 0.32rem;
  font-size: 0.6rem;
  color: #fff;
  &:active {
    opacity: 0.5;
  }
  &.disable,
  &[disabled] {
    background: #ccc;
  }
}
.capitalize {
  text-transform: capitalize;
}
.q-article {
  .content {
    font-size: 0.56rem;
    line-height: 1.08rem;
    a {
      color: #0080ff;
    }
    h1, h2, h3, h4, h5, h6 {
      margin: 0.76rem 0;
    }
    h1 {
      font-size: 1.28rem;
      font-weight: bold;
      line-height: 1.8rem;
      letter-spacing: 0.02rem;
    }
    h2 {
      font-size: 0.96rem;
      font-weight: bold;
      line-height: 1.4rem;
      letter-spacing: 0.02rem;
    }
    h3 {
      font-size: 0.76rem;
      font-weight: bold;
      line-height: 1.12rem;
      letter-spacing: 0.02rem;
    }
    p {
      font-size: 0.56rem;
      color:rgba(51,51,51,1);
      line-height: 1.08rem;
      letter-spacing: 0.02rem;
    }
    ol, ul {
      padding: 0;
      margin: 0;
      list-style-position: inside;
      li {
        display: list-item;
      }
    }
    ul {
      margin-left: 0.8rem;
      list-style: disc;
    }
    blockquote {
      margin: 0;
      padding: 0 0.8rem;
      font-size: 0.64rem;
      color:rgba(153,153,153,1);
      line-height: 0.96rem;
      border-left: 0.2rem solid rgba(230,230,230,1);
    }
    img {
      width: 100%;
      margin: 0.4rem 0;
    }
  }
}
